<div class="santa">
	<div class="hat">
		<div class="hat_inner"></div>
		<div class="hat_top"></div>
		<div class="hat_pompon"></div>
		<div class="hat_shadow"></div>
		<div class="snows">
			<div class="snow"></div>
			<div class="snow"></div>
			<div class="snow"></div>
			<div class="snow"></div>
			<div class="snow"></div>
			<div class="snow"></div>
			<div class="snow"></div>
			<div class="snow"></div>
			<div class="snow"></div>
			<div class="snow"></div>
		</div>
	</div>
	<div class="face">
		<div class="glasses">
			<div class="glasses_left"></div>
			<div class="glasses_mid"></div>
			<div class="glasses_right"></div>
		</div>
	</div>
	<div class="mustache">
		<div class="mustache_left"></div>
		<div class="mustache_right"></div>
	</div>
</div>